// block content
div
      .navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              a.navbar-brand(href='#')
                | IT
                | miskrada
            ul.nav.navbar-nav
              li
                a#prev.btn.btn-info
                    strong <  Назад
              li
                a#next.btn.btn-info
                    strong Вперед >
              li
                a#logout.btn.btn-info
                    strong [Вихід]

          .container
            form.form-inline

              select#select.form-control
                  each val in menu
                      option(value=val.path)= val.name

