// block content
div
      .navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              a.navbar-brand(href='#') Brand
            ul.nav.navbar-nav
              li.active
                a(href='#') Home
              li
                a(href='#') Link
              li
                a(href='#') More
              li
                a(href='#') Options
          .container
            form.form-inline
              h1 Select
              select#select.form-control
                option(value='/login') Login
                option(value='/upload') Upload
                option(value='/') Root