extends layout
block content
    .container
          #myPage(data-role='page')
            nav#myPanel(data-role='panel') ...menu...
            #myHeader(data-role='header') ...button...text...
            #myContent(data-role='content') ...welcome text...
    