extends layout
block content
    .container
          #Page(data-role='page')
            nav#Panel(data-role='panel') ...menu...
            #Header(data-role='header') ...button...text...
            #Content(data-role='content') ...welcome text...
    