// extends layout

block content

    div.container
        
            h1 Program Name
            p Hello World
            select.form-control
                option(value='one') One
                  option(value='two') Two
                  option(value='three') Three
                  option(value='four') Four
                  option(value='five') Five