// extends layout
block content
    div.container
        form(action="login", method="post")
                .form-group
                    label(class="input") Username
                    input(type="text", name="username")
                .form-group
                    label(class="input") Password
                    input(type="text", type="password", placeholder="Enter password" , name="pass")
                .checkbox
                    label
                        input(type="checkbox")
                        | Remember me
                    button(type="submit", class="button") Login
