// extends layout
script(src='js/login.js')
block content
    div.container.col-md-4
        a#register.btn.btn-info
            h4 Зареєструйтеся

        h3 або увійдіть
        form(action="login", method="post").form-horizontal
                .form-group
                    h4 Логін
                    input.form-control(type="text", name="username", placeholder="Введіть логін")
                .form-group
                    h4 Пароль
                    input.form-control(type="text", type="password", placeholder="Введіть пароль" , name="password")

                button(type="submit").btn.btn-success Увійти
