extends layout
div.row
    h1= title
h1= title
block content
    div.container
        
        
            form(action="login", method="post")
                .form-group
                    label(class="input") Фамилия
                    input(type="text", name="username")
                .form-group
                    label(class="input") Имя
                    input(type="text", name="username")
                .form-group
                    label(class="input") Отчество
                    input(type="text", name="username")
                .form-group
                    label(class="input") Место работы
                    select#select_upr.form-control
                        each val, key in list
                            option(value='/' + val)= key
                .checkbox
                    label
                        input(type="checkbox")
                        | Remember me
                    button(type="submit", class="button") Login
