extends layout
div.row
    h1= title
h1= title
block content
    div.container
        
        
            form(action="registeradmin", method="post")
                .form-group
                    label(class="input") Username
                    input(type="text", name="username")
                .form-group
                    label(class="input") Password
                    input(type="text", name="password")
                .checkbox
                    label
                        input(type="checkbox")
                        | Remember me
                    button(type="submit", class="button") Login
