//
   Created with JetBrains WebStorm.
   User: Admin
   Date: 01.12.13
   Time: 12:45
   To change this template use File | Settings | File Templates.
// extends layout
script(src='/js/upload.js')
block content
    h1= title
    p type is #{method}
    form(action="upload", method="post", enctype="multipart/form-data", id="uploadForm")
        input.required(type="text", name="FIO")
        input.required(type="file", name="displayImage")
        input(type="submit", name="Save")