//
   Created with JetBrains WebStorm.
   User: Admin
   Date: 01.12.13
   Time: 12:45
   To change this template use File | Settings | File Templates.
extends layout

block content
    h1= title
    p type is #{method}
